@import "./utils/vars";
@import "./utils/mixins";
@import "./utils/hidden";

@import "./base/reset";
@import "./base/common";

@import "./components/conteiner";
@import "./components/buttons";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/modal-close-icon";
@import "./components/cheked";
@import "./components/mob-menu-icon";
@import "./components/mob-menu";

@import "./layout/employment";
@import "./layout/features";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/team";
@import "./layout/client";
@import "./layout/social";

@import "./layout/page2/filter";
@import "./layout/page2/works";

@import "./layout/footer/address";
@import "./layout/footer/join-us";
@import "./layout/footer/subscribe";

@import "./utils/hidden";
