.header {
   background-color: var(--background-section);
}

.conteiner__header {
   display: flex;
   padding-top: 25px;
   padding-bottom: 25px;
   border-bottom-color: #ececec;
   border-bottom-width: 1px;
   border-bottom-style: solid;
}

.navigation {
   display: flex;
   align-items: center;
}
.navigation__item:not(:last-child) {
   margin-right: 50px;
}

.navigation__list {
   display: flex;
   &::before {
      content: "";
      border-bottom: 4px solid var(--text-active);
      border-radius: 2px;
   }
}

.logo {
   font-family: "Raleway";

   @include font(26px, 700, 1.38, 0.03em);

   color: var(--text-header);
   margin-right: 93px;
}

.web-logo {
   color: var(--text-active);
}

.navigation__link {
   display: flex;

   @include font(14px, 500, 1.2, 0.03em);

   color: var(--text-header);
   padding-top: 10px;
   padding-bottom: 10px;

   position: relative;
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
      color: var(--text-active);
   }

   &.navigation__link--current::after {
      content: "";
      position: absolute;
      width: 100%;
      background-color: var(--text-active);
      border-bottom: 4px solid var(--text-active);
      border-radius: 2px;
      display: block;
      bottom: -26px;
   }
}

.contacts__link {
   @include font(14px, 500, 1.2, 0.02em);
   display: flex;
   align-items: center;

   color: var(--color-text);
   transition-property: color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus,
   .footer__contacts--link {
      color: var(--text-active);
   }
}
.contacts {
   display: flex;
   margin-left: auto;
   align-items: center;
}

.contacts__item:not(:last-child) {
   margin-right: 50px;
}

.contacts__icon {
   margin-right: 10px;
   fill: currentColor;
   &:hover,
   &:focus {
      fill: #2196f3;
   }
}
