/*наша команда */
.section--other-background {
   background: #f5f4fa;
}

.team {
   margin-top: 0;
}

.people {
   display: flex;
   margin-top: 50px;
   flex-basis: calc(100% / 4 - 30px);
}
.people__item {
   background: var(--background-section);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
   &:not(:last-child) {
      margin-right: 30px;
   }
}
.people__box {
   padding: 30px 0;
}
.people__title {
   @include font(16px, 500, 1.18, 0.03em);
   font-style: normal;
   text-align: center;

   color: var(--text-header);
   margin-bottom: 10px;
}
.people__text {
   @include font(16px, 400, 1.18, 0.03em);
   font-style: normal;
   text-align: center;

   color: var(--color-text);
   margin-bottom: 16px;
}
