/*buttons*/

.filter {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-bottom: -15px;

   @media screen and (min-width: 768px) {
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 30px;
   }
   @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
   }
}
.filter__item {
   margin-right: 8px;
   margin-bottom: 15px;

   @media screen and (min-width: 768px) {
      margin-bottom: 0;
   }
}
.filter__item:not(:last-child) {
   margin-right: 8px;
}

.filter__button {
   font-style: normal;

   @include font(16px, 500, 1.62, 0.03em);

   text-align: center;

   color: var(--text-header);
   border-radius: 4px;
   padding: 6px 22px;

   border-color: transparent;

   transition-property: background-color, color, box-shadow;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:focus,
   &:hover {
      color: var(--background-section);
      background-color: var(--text-active);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}
