/* -------------------subcribe */

.fooret__send--form {
   margin-righ: auto;

   @media screen and (min-width: 1200px) {
      display: block;
      margin-left: auto;
   }
}
.form {
   @media screen and (min-width: 1200px) {
      display: flex;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
   }
}

.subscribe {
   font-weight: 700;
   margin-bottom: 20px;
}
.send__input--footer {
   @media screen and (min-width: 478px) and (max-width: 767px) {
      margin-bottom: 20px;
   }
   @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 20px;
   }
   @media screen and (min-width: 1200px) {
      width: 358px;
   }

   width: 450px;
   align-content: center;

   height: 50px;

   background-color: transparent;
   border: 1px solid #999;
   border-radius: 4px;

   color: var(--color-text);

   padding-left: 15px;
   padding-right: 15px;
   font-weight: 600;

   outline: none;
   transition-property: color, border-color;
   transition-duration: 250ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   &:hover,
   &:focus {
      border-color: var(--text-active);
      color: var(--background-section);
   }
}

.footer__button--send {
   @include flex;

   margin-left: auto;
   margin-right: auto;
   @media screen and (min-width: 1200px) {
      margin-left: 12px;
   }

   min-width: 200px;
   min-height: 50px;
}
.footer__button--icon {
   margin-left: 10px;
   fill: var(--background-section);
}
