button {
   cursor: pointer;
}
img {
   display: block;
   max-width: 100%;
   height: auto;
}
a {
   text-decoration: none;
}
/* что бы убрать точки (класс списка)
.list {
   list-style: none;
}*/
/*что бы убрать подчеркивание у ссылок(на ссылки)
.link {
   text-decoration: none;
}*/
