body {
   font-family: "Roboto", sans-serif;
}
/* что бы убрать точки (класс списка)
.list {
   list-style: none;
}*/
/*что бы убрать подчеркивание у ссылок(на ссылки)
.link {
   text-decoration: none;
}*/
